body{
  /*background-color: #F5F5F5;*/
  background-color: #F5F8FA;

  
}
#root {
  /*padding: 30px;*/
  /*border: grey solid;*/
}

.title{
  color: #17A2B8;
}


.json-reader {
  padding: 25px;
  /*background-color: #F2F2F2;*/
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #c5c5c5;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


.subnode-container .subnode {
  padding-left: 25px;
}


.collapse-btn {
  height: 24px;
  width: 24px;
  line-height: 0.5 !important;
  margin-bottom: 7px;
  margin-left: -24px;
  border: none;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  /* position: absolute !important; */
}

.complex-item-label {
  display: inline-block;
  margin-top: 30px;
}


.primitive-item-label {
  font-weight: bold !important;
}

.modal-btn {
  padding: 0px;
  border: none;
  margin-left: 6px;
}

.modal-btn:hover {
  background-color: initial;
  color: #0f768d;
}
